#btnCreate>i{
    color: green
}

#btnCreate>i:hover{
    color: rgb(142, 228, 45)
}

#bgRegistro{
    background-color: rgb(151, 69, 222);
    border-radius: 5px solid black;
    border-radius: 25%;
}


