<template >
    <div>
        <h1>Hola desde vue</h1>

        <p class="bg-danger">Anim elit mollit magna sint consectetur ipsum eu amet dolore excepteur magna ipsum ullamco. Id anim exercitation aute laborum do laboris Lorem ullamco sunt anim nisi id. Adipisicing est fugiat mollit non eu minim aute aliquip ullamco. Occaecat sunt elit non consequat. Nulla nulla dolor qui occaecat ullamco dolore proident et tempor consequat id reprehenderit mollit. Et laboris culpa Lorem nisi.</p>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
</style>